<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello world !</span>
    </h1>
    <!-- <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{ quote }}</q> -->

    <table class="table table-striped table-inverse table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td scope="row">{{ item.name }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
